<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">{{site.about_me_description}}</p>
<h1 class="title">Mes missions</h1>
<p class="description" data-aos="fade-down">
  <ul>
    <li>Conception et mise en oeuvre des plans, et télédiffusion en production sous VTOM</li>
    <li>Admin infra VTOM 7.1.2</li>
    <li>Run N3 IGA, incidents, changements, MEP applicatives</li>
    <li>Automatisation et scripting, shell, powershell, python</li>
    <li>Gestion, Maintenance, Ajout features de sites web intranet ou applications d'entreprise</li>
    <li>Migration d’environnements Control-M vers VTOM avec équipes en Inde en anglais</li>
    <li>Mise en place des flux partenaires et des chaines de jobs de transferts sftp, ftp, cft</li>
  </ul>
</p>
